<div class="xl:w-4/5 xl:mx-auto">
    <div class="relative w-full flex flex-col items-center justify-center" style="height: 700px">
        <img class="h-full w-full object-cover object-center" src="/images/auditorium_blur-tablet_narrow.jpg" alt="">
        <div class="absolute inset-0 bg-blue-600 opacity-60 z-10"></div>
        <img class="absolute h-4/6 z-10" src="/images/2020-logo.svg" alt="">
    </div>

    <div class="-mt-12 flex flex-col items-center lg:-mt-16">
        <a class="py-5 px-6 flex items-center space-x-4 font-display relative text-4xl z-10 text-white bg-gradient-to-r from-dandelion to-hit-pink sm:text-5xl" href="#0">
            <span>Register now</span>
            <span>
                <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/></svg>
            </span>
        </a>
    </div>
</div>
