<div class="sticky top-0 z-30 px-4 mx-auto bg-white max-w-screen-2xl">
    <div class="grid grid-cols-2 gap-4">
        <div>
            <a class="absolute" href="#0">
                <img src="https://www.fldrupal.camp/sites/all/themes/fldc17/images/header-logo-general.svg">
            </a>
        </div>
        <div>
            <ul class="flex justify-end h-full">
                {% for menu_item in menu_items.findAll() %}
                    {% set linkClasses = [
                        'block px-2 py-3 text-2xl uppercase duration-200 ease-out transition-color font-display text-blue-dark hover:bg-orange focus:bg-orange hover:text-gray-dark focus:text-gray-dark',
                        menu_item.is_active ? 'text-white bg-blue'
                    ] %}
                    <li>
                        <a class="{{ linkClasses|join(' ')|trim }}" href="#0">
                            {{ menu_item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
