<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tailwind CSS workshop{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/build/tailwind.css"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="py-20 font-sans bg-blue-600">
        <div class="container px-4 mx-auto">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
