{% extends 'html.html.twig' %}

{% block body %}
    {% include 'includes/navbar.html.twig' %}

    {% block content %}{% endblock %}

    <footer class="py-10 bg-blue-dark">
        <div class="px-4 mx-auto max-w-screen-2xl">
            <p class="text-white">A clone of the <a class="underline" href="https://www.fldrupal.camp">DrupalCamp Florida website</a>, built by <a class="underline" href="https://www.oliverdavies.uk">Oliver Davies</a>, for his Tailwind CSS training workshop.</p>
        </div>
    </footer>
{% endblock %}
